body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
}
header{
    background-color: #b80000;
    margin-top: 0;
    padding: 15px 20px;
}